UnturnedBOM/Data/recipes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecipeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Recipe">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="2" name="Ingredient">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Count" type="xs:unsignedByte" use="optional" default="1" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="Result">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Count" type="xs:unsignedByte" use="optional" default="1" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Tool" type="xs:string" use="optional" default="None" />
            <xs:attribute name="CraftLvl" type="xs:unsignedByte" use="optional" default="0" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>